.home--container {
  .home--title {
    position: absolute;
    background-color: #ECF0F1;
    border-radius: 5px;
    padding: 25px;
    top: 50%;
    left: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    transform: translate(-50%, -50%);
    z-index: 13;
    h1 {
      
      color:#000;
      font-size: 35px;
    }
    p{
      padding-bottom: 15px;
      font-weight: 400;
    }
    .home--btn{
      border-radius: 5px;
      border:none;
      background-color: #F9E79F;
      padding:15px 35px;
      text-decoration: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      color:#000;
      font-weight: 600;


      
    }
  }
}


