.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf0f1;
  width: 50%;
  margin: 0 auto;
  padding: 50px;
  margin-top: 150px;
  border: 5px solid #0000;
  border-radius: 10px;
  h1 {
    text-transform: uppercase;
  }
  .login--form {
    .submit--btn {
      margin-top: 25px;
    }
    input {
      border: 10px solid #0000;
      border-radius: 10px;
      
    }
    .submitBtn {
      margin: 10px;
      background-color: #abebc6;
      border: 10px solid #0000;
      border-radius: 10px;
      width: 80%;
      font-size: 16px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

    }
    .submitBtn:hover {
      margin: 10px;
      background-color: #ec7063;
      border: 10px solid #0000;
      border-radius: 10px;
      width: 80%;
      transition: 0.3s ease;
    }
    .link--btn {
      text-decoration: none;
    }
    .link--button {
        font-size: 12px;
    }
  }
}
