:root {
  --color-green-block: #abebc6;
  --color-yellow-block: #f9e79f;
  --color-red-block: #ec7063;
  --color-black-block: #1c2833;
  --color-gray-block: #ecf0f1;
  --color-checkpoint-block: #f783fe;
  --color-finish-block: #3ffcfe;
}

html,
body {
  background: linear-gradient(
    to bottom,
    rgba(31, 113, 168, 1) 0%,
    rgba(88, 186, 232, 1) 100%
  );
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}

.appBoard {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

#board {
  margin-right: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  height: 100%;
  margin-top: 250px;
}

.container--board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container--bottom-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 45px;
  margin: 0;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: aquamarine;
  border-radius: 100%;
}

#counterClic {
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  border: none;
  padding: 15px 0px;
}

/*rules style*/

.fas .fa-flag-checkered {
  color: #000;
  font-size: 42px;
}

/* Popup style */

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 60vh - 20px);
  background: #aed6f1;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(35% - 30px);
  top: calc(100vh - 60vh - 33px);
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}

.btn--replay {
  background: aquamarine;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  padding: 10px 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*flip effect*/

.flip--tile {
  width: 50px;
  height: 45px;
  perspective: 1000px;
}

.flip--tile--inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipY {
  transform: rotate3d(0, 1, 0, 180deg);
}

.flipX {
  transform: rotate3d(1, 0, 0, 180deg);
}

.tile--front {
  position: absolute;
  backface-visibility: hidden;
}

.tile--back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.restart {
  border: none;
  background: aquamarine;
  padding: 5px 30px;
  border-radius: 15px;
  font-weight: 700;
  color: #000;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
