
body{
    overflow-x: hidden;
}
:root {
    --color-green-block:#ABEBC6;
    --color-yellow-block:#F9E79F;
    --color-red-block:#EC7063;
    --color-black-block:#1C2833;
    --color-gray-block:#ECF0F1;
    --color-checkpoint-block:#F783FE;
    --color-finish-block:#FDEDEC;
  }
.navbar--flex {
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}
.nav--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .nav--header {
      padding:1vh 1vw;
      text-align: center;
    .Logo{
        color:#f2f5f7;
        height: 5rem;
        width: 5rem;
    }
  }
  .nav--left{
    list-style: none;
    display: flex;
    list-style: none; 
    width: 60%;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase; 
  }
  .nav--right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  .nav--box {
      .nav--link {
        position: relative;
        color:#f2f5f7;
        text-decoration: none;
        margin: 0 0.7vw;
      }
 
      .nav--link::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        background-color: #ABEBC6;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0 0 0 10%;
    }
    .nav--link:hover::before{
        width: 100%;
    }
    
    .nav--link:hover {
        color: #ABEBC6;
    }
  }
}
.login--button{
    color:#ffffff;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);


}
.login--button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.sign--button{
    color: #131418;
    background-color: #ABEBC6;
    border: 1.5px solid #ABEBC6;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}
.sign--button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}
.hamburger div{
    width: 30px;
    height:3px;
    background: #ABEBC6;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 800px){
    .navbar--flex{
        position: fixed;
        z-index: 3;
    }

    .nav--link{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav--link.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav--link li{
        opacity: 0;
    }
    .nav--link li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav--link li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav--link li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav--link li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav--link li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    li.fade{
        opacity: 1;
    }
}