.rules--card{
    background-color:#ECF0F1 ;
    
    margin-top: 50px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

    .rules--box{
        padding:15px;
    
    p{
        font-weight: 600;
    }
}
}