:root {
  --color-green-block:#ABEBC6;
  --color-yellow-block:#F9E79F;
  --color-red-block:#EC7063;
  --color-black-block:#1C2833;
  --color-gray-block:#ECF0F1;
  --color-checkpoint-block:#F783FE;
  --color-finish-block:#FDEDEC;
}

html, body {
  background: linear-gradient(to bottom, rgb(31, 113, 168) 0%, rgb(88, 186, 232) 100%);
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.appBoard {
  display: flex;
}

#board {
  margin-right: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  height: 100%;
}

.container--board {
  display: flex;
  flex-direction: column;
}

.container--bottom-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 45px;
  margin: 0;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.avatar {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: aquamarine;
  border-radius: 100%;
}

#counterClic {
  padding: 15px;
  width: 50%;
  margin: 0 auto;
  font-weight: 600;
  border: none;
}

/*rules style*/
.Leaderboard {
  background-color: #E5E8E8;
  width: 25%;
  height: 100%;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fas .fa-flag-checkered {
  color: #000;
  font-size: 42px;
}

.Leaderboard ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.rules {
  list-style: none;
  text-align: left;
  padding: 15px 20px;
  position: relative;
  line-height: min-content;
}

.Leaderboard .rules::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 52%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
}

.rules:nth-of-type(1)::before {
  background-color: #ECF0F1;
}
.rules:nth-of-type(2)::before {
  background-color: #3FFCFE;
}
.rules:nth-of-type(3)::before {
  background-color: #F783FE;
}
.rules:nth-of-type(4)::before {
  background-color: #ABEBC6;
}
.rules:nth-of-type(5)::before {
  background-color: #F9E79F;
}
.rules:nth-of-type(6)::before {
  background-color: #EC7063;
}
.rules:nth-of-type(7)::before {
  background-color: #1C2833;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.3137254902);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(40vh - 20px);
  background: #AED6F1;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(35% - 30px);
  top: calc(40vh - 33px);
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
}

.btn--replay {
  background: aquamarine;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  padding: 10px 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*flip effect*/
.flip--tile {
  width: 50px;
  height: 45px;
  perspective: 1000px;
}

.flip--tile--inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipY {
  transform: rotate3d(0, 1, 0, 180deg);
}

.flipX {
  transform: rotate3d(1, 0, 0, 180deg);
}

.tile--front {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tile--back {
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: rotateY(180deg);
}

.restart {
  border: none;
  background: aquamarine;
  padding: 5px 30px;
  border-radius: 15px;
  font-weight: 700;
  color: #000;
}/*# sourceMappingURL=style.css.map */